.header {
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 10vh;
  width: 100vw;
  background-color: black;
  padding: 1.5rem;
  img {
    height: 50px;
  }
  .header__brand {
    display: flex;
    align-items: center;
   
    .header__brand--name {
      h1 {
        font-family: $dolce;
        color: white;
        font-size: $fs-xxl;
        margin-left:1rem;
        span{
          font-family: $dolceBold;
          color: white;
          font-size: $fs-xxl;
        }
      }
      h2 {
        font-family: $dolce;
        color: white;
        font-size: $fs-lg;
        margin: .5rem 0 0 1rem; 
      }
    }
  }
}
