.mobileMenu {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: -100vh;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(1px);
  background-color: #000000de;
  transition: all 1s ease-in-out;
  .mobileMenu__nav {
    h3 {
      font-family: $dolceBold;
      color: $colorTitulos;
      font-size: $fs-xxxl;
      margin-bottom: 3rem;
      filter: drop-shadow(3px 3px 3px hsla(0, 0%, 0%, 0.25));
    }
  }
  .mobileMenu__social {
    a {
      padding-left: 1rem;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.show {
  top: 0;
}

