@font-face {
    font-family: dolce;
    src: url(./Dolce.ttf);
}
@font-face {
    font-family: dolceBold;
    src: url(./DolceBold.ttf);
}
@font-face {
    font-family: pioggia;
    src: url(./Pioggia.ttf);
}
@font-face {
    font-family: disketMono;
    src: url(./DisketMono.ttf);
}
@font-face {
    font-family: waialua;
    src: url(./Waialua.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
